.FAQs{
  background-color: rgb(87, 168, 255);
  margin: 20px;
  padding:10px;
  max-width: 1000px;
  width: 80%;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
}

h1{
    text-align: center;
}