#Reviews{
    border: 5px, solid black;
}

Img{
    position: relative;
    height: 300px;
    left: 40px;
    
}
h2{
    text-align: center;
}

footer{
  position: relative;
  bottom: 10px;
  width: 100%;
  height: 40px;
  background-color: rgb(1, 96, 196);
}

#Top{
    text-align: center;
    background-image: url("Assets/IMG_1067\ 5.jpeg");
    background-size: cover;
    aspect-ratio: 11/3;
    width: 100%;
}
#Reviews{
    text-align: center;
}
#Review2{
 border: 20px, solid, black;
 margin: 20px auto;
}

.body{
  padding: 2rem;
}
.wrapper-wrapper{
 position: relative;
 max-width: 1000rem;
 margin: 0 auto;
}

.slider{
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: hidden;
  scroll-snap-type: mandatory;
  box-shadow: 0 1.5rem, 3 rem, -0.75 rem;
   hsla:0,0%,0%,.025;
  border-radius: 0.5rem ;

}

.slider p{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slider-navigation{
  display: flex;
  column-gap: 1rem;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  position: relative;

}