#Reviews{
    border: 5px, solid black;
}

Img{
    position: relative;
    height: 300px;
    left: 40px;
    
}
h2{
    text-align: center;
}

footer{
  position: relative;
  bottom: 10px;
  width: 100%;
  height: 40px;
  background-color: rgb(1, 96, 196);
}

#Top{
    text-align: center;
    background-image: url("Assets/IMG_1067\ 5.jpeg");
    background-size: cover;
    aspect-ratio: 11/3;
    width: 100%;
    

}
#Reviews{
    text-align: center;
}
#Review2{
    margin: 20px auto;
}