header {
    height: 70px;
    margin: 0;
    background-color: #264A6F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

header img {
    height: 50px;
}

header nav {
    height: 100%;
    display: flex;
    align-items: center;
}

header ul {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

header li {
    display: inline;
    height: 100%;
}

header button {
    background-color: #264A6F;
    border: none;
    height: 100%;
    padding: 30px;
}

header a {
    text-decoration: none;
    color: white;
}

header button:hover {
    background-color: #42566b;
}

#product{
    position: relative;
    left: 40px;
}

footer{
  position: fixed;
  bottom: 10px;
  width: 100%;
  background-color: rgb(104, 104, 240);
}