* {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    height: 70px;
    margin: 0;
    background-color: rgb(1, 96, 196);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

header img {
    height: 50px;
}

header nav {
    height: 100%;
    display: flex;
    align-items: center;
}

header ul {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

header li {
    display: inline;
    height: 100%;
}

header button {
    background-color: rgb(1, 96, 196);
    border: none;
    height: 100%;
    padding: 30px;
}

header a {
    text-decoration: none;
    color: white;
}

header button:hover {
    background-color: rgb(78, 130, 185);
}

