* {
    text-align: center;
}

.container {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(1fr, 7);
    border: 1px solid black;
    grid-template-rows: repeat(1fr, 11);
    aspect-ratio: 11/7;
    grid-gap: 10px;
}

img {
    border: 2px solid black;
}

header img {
    border: none;
}

#img1 {
    grid-area: 1 / 1/ span 3 / span 4;
    max-width: 100%;
}

#img2 {
    grid-area: 5 / 4/ span 3 / span 4;
    max-width: 100%;
}

#img3 {
    grid-area: 5 / 1/ span 4 / span 3;
    max-width: 100%;
}

#img4 {
    grid-area: 1 / 5 / span 4 / span 3;
    max-width: 100%;
}

#img5 {
    grid-area: 8 / 5/ span 4 / span 3;
    max-width: 100%;
}

#img6 {
    grid-area: 9 / 1/ span 3 / span 4;
    max-width: 100%;
}
