.about{
  background-color:rgb(87, 168, 255);
  padding: 10px;
  margin: 10px;
  border-radius: 10%;
  text-align: center;
  position: relative;
  width: 60%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
}
footer{
  position: relative;
  height: 40px;
  background-color: rgb(28, 62, 98);
  color:white;
  font-size: 12px;
  text-align: center;
  width: 60%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-self: center;
  padding:10px 30px;
  margin-top: 100px;
}
#img1 {
  display: block;
  margin: 0 auto;
  height: auto;
  position: relative;
  width: 50%;
  height: 50%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

@media only screen and (max-width:768px) {
  #content {
    flex-direction: column;
  }
}