.about{
  background-color:rgb(87, 168, 255);
  padding: 10px;
  margin: 10px;
  border-radius: 10%;
  text-align: center;
  position: relative;
  width: 60%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
}
footer{
  position: absolute;
  bottom: 10px;
  height: 40px;
  background-color: rgb(28, 62, 98);
  color:white;
  font-size: 12px;
  text-align: center;
  width: 60%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-self: center;
  padding:10px 30px;
}
#img1 {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}